<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project_MyBlogMine</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileList</display-name>
    <servlet-name>FileList</servlet-name>
    <servlet-class>kr.or.kosta.blog.menus.FileList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileList</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileList2</display-name>
    <servlet-name>FileList2</servlet-name>
    <servlet-class>kr.or.kosta.blog.menus.FileList2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileList2</servlet-name>
    <url-pattern>/list2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>kr.or.kosta.blog.menus.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error/error_500.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/error/error_400.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error_404.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>defaultObjectExample.jsp</servlet-name>
    <jsp-file>/defaultObjectExample.jsp</jsp-file>
    <init-param>
      <param-name>location</param-name>
      <param-value>f:/xxx/yyy.jpg</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>defaultObjectExample.jsp</servlet-name>
    <url-pattern>/some.mall</url-pattern>
  </servlet-mapping>
</web-app>